# Mplus testing ground

In [1]:
from mextract import mextract

In [2]:
pdf = mextract()

In [3]:
text = pdf.new_extract_pdf()

In [4]:
text

,date,dd,mm,yyyy,contract,stock_no,stock_name,price,qty,proceed,brk_amt,stamp,clr_fee,total_amt,Buy
0,2024-10-10,10,10,2024,TPA0068986170-000,5309,ITMAX,3.750000,200,750.00,8.00,1.00,0.23,759.23,Buy
1,2024-09-30,30,09,2024,TPA0068803684-000,5225,IHH,7.240000,100,724.00,8.00,1.00,0.22,733.22,Buy

In [5]:
data = pdf.key_extract()
data

        date stock_name     price  qty total_amt  Buy
1 2024-09-30        IHH  7.240000  100    733.22  Buy
0 2024-10-10      ITMAX  3.750000  200    759.23  Buy

In [6]:
pdf.save_csv()

Total file extract:  2
Succesfully data saved.

In [8]:
type(data)

pandas.core.frame.DataFrame